html {
    height: 100%;
    z-index: 2;
}

body {
    z-index: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    background-color: rgb(255, 251, 251);
    border-radius: 50px;
    height: 899px;
    margin-top: 2%;
    margin-bottom: 2%;
}

ul {
    list-style-type: none;
}

img {
    position: relative;
}

.image {
    z-index: 0;
    width: 100%;
    max-width: 927px;
    max-height: 873px;
    float: right;
    border-radius: 50px;
    bottom: 175px;
}

.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.list-i {
    margin-right: 100px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 109.5%;
    color: #454545;
    margin-bottom: 10px;
}

.list-item:first-of-type(1){
    margin-left: 150px;
}

.list .list-item {
    z-index: 5;
    margin-left: 40px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 155.5%;
    color: #454545;
}

.list li:hover {
    background-color: #E146AD;
    cursor: pointer;
    color: #c8d600;
}

section h1 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 129%;
    background: linear-gradient(180deg, #1B18F9 0%, #1B18F9 46.35%, #E146AD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-left: 148px;
    padding-right: 845px;
}

section p {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 171.5%;
    padding-left: 148px;
    padding-right: 845px;
    color: #454545;
}

.buttons {
    display: flex;

}

.button1 {
    display: block;
    z-index: 5;
    background: radial-gradient(255.8% 457.4% at 88.45% 24.64%, #C27FCF 0%, #0368FF 100%);
    border-radius: 18px;
    width: 210px;
    height: 69px;
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 146.5%;
    color: #FFFFFF;
    margin-left: 148px;
    border: none;
}

.button2 {
    display: block;
    z-index: 5;
    background-color: rgb(255, 251, 251);
    border: none;
    font-family: 'League Spartan', sans-serif;  
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 129%;
    background: linear-gradient(180deg, #1B18F9 0%, #1B18F9 46.35%, #E146AD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.button1:hover {
    background: #097e36;
}

.button2:hover { 
    background: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.whale {
    z-index: 1;
    width: 100%;
    max-width: 1020.03px;
    max-height: 398.86px;
    float: right;
    bottom: 904px;
}

.octopus {
    z-index: 2;
    width: 100%;
    max-width: 419px;
    max-height: 284.97px;
    float: right;
    left: 804px;
    bottom: 450px;
}

.crab {
    z-index: 0;
    width: 100%;
    max-width: 163.14px;
    max-height: 135.49px;
    float: left;
    bottom: 1150px;
    right: 5px;
}

.fishes {
    z-index: 3;
    width: 100%;
    max-width: 224px;
    max-height: 129.87px;
    float: right;
    left: 991px;
    bottom: 1250px;
}

.leftground {
    z-index: 4;
    width: 100%;
    max-width: 800.2px;
    max-height: 800.97px;
    float: left;
    bottom: 1042px;
    right: 164px;
    border-radius: 50px; 
}

.jellyfish {
    z-index: 4;
    width: 100%;
    max-width: 79px;
    max-height: 123.14px;
    float: right;
    bottom: 1390px;
    right: 550px;
}

.bubbles {
    z-index: 4;
    width: 100%;
    max-width: 78.05px;
    max-height: 66.79px;
    float: right;
    bottom: 1180px;
    right: 750px;
}
