*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.h1 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
}

h2,
strong {
    font-family: 'Red Hat Display';
}

span,
a {
    font-family: 'Lato', sans-serif;
}