.icon-section {
    background-color: $dark-grey;

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;

        @include media ('>=768px') {
            flex-direction: row;
            align-content: unset;
        }
    }

    .flex-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        @include media ('>=768px') {
            padding: 118px 0 116px;
        }

        width: calc(100%/3);

        span {
            display: block;
            font-family: 'Aleo';
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: $light-grey;

            @include media ('>=768px') {
                font-size: 36px;
                line-height: 26px;
            }
        }
    }

    .flex-item::after {
        position: absolute;
        content: '';
        width: 150px;
        height: 4px;
        background-color: #fff;
        bottom: 10px;

        @include media ('>=768px') {
            width: 0;
            height: 0;
        }
    }
}

.icon-holder {

    &:first-of-type {
        padding-top: 1;
        margin-bottom: 38px;
        position: relative;
    }

    &:nth-of-type(2) {
        margin-bottom: 35px;
        position: relative;
    }

    &:last-of-type {
        padding-top: 1;
        margin-bottom: 39px;
    }
}

.second::before {

    @include media ('>=768px') {
        position: absolute;
        content: '';
        background-image: url('../images/oval.svg');
        background-repeat: no-repeat;
        width: 777px;
        height: 99px;
        bottom: -50%;
        left: 25px;
        transform: translate(-50%, -100%);
    }

}