.spain-section-second {

    background-size: cover;

    .cover {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;

        @include media ('>=1024px') {
            justify-content: unset;
        }
    }

    .btn-holder {
        text-align: center;
        font-family: $aleo;

        @include media ('>=1024px') {
            text-align: left;
        }

        a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            background-color: $blue;
            padding: 18px 64px 16px;
            z-index: 1;

            @include media ('>=1024px') {

                &::before {
                    content: '';
                    display: block;
                    z-index: -1;
                    position: absolute;
                    width: 112px;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 56px solid transparent;
                    border-bottom: 60px solid $dark-blue;
                    top: 0;
                    left: 0;


                }
            }


        }
    }

}