.why-choose-us {
    background-size: cover;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media ('>=768px') {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

    }

    .btn-holder {
        text-align: center;
        font-family: $aleo;

        @include media ('>=1024px') {
            text-align: left;
        }


        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            padding: 21px 40px 16px;
            background-color: $blue;
            z-index: 1;

            @include media ('>=1024px') {
                &::before {
                    content: '';
                    display: block;
                    z-index: -1;
                    position: absolute;
                    width: 112px;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 56px solid transparent;
                    border-bottom: 63px solid $dark-blue;
                    top: 0;
                    left: 0;
                }
            }

        }
    }

    .flex-item {
        width: 50%;
        padding: 40px 0;

        &:nth-of-type(2) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 10px;
        }

        .image-holder {
            justify-self: flex-end;
            align-self: center;

            &:nth-of-type(2) {
                align-self: flex-end;
            }
        }

        @include media ('>=768px') {
            padding: 117px 0;
        }
    }
}

.flex-item {
    h2 {
        font-family: 'Aleo';
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: #fff;
        margin-bottom: 20px;

        @include media ('>=768px') {
            font-size: 36px;
            line-height: 26px;
            margin-bottom: 50px;
        }
    }

    p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.6px;
        color: $light-grey;

        &:first-of-type {
            margin-bottom: 45px;
        }

        &:last-of-type {
            margin-bottom: 45px;
        }

        @include media ('>=768px') {
            font-size: 16px;
            line-height: 26px;
        }
    }
}