*, 
*::after,
*::before {
    box-sizing: border-box;
}

body,
main {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

header {
    padding-top: 44px;
    padding-bottom: 44px;
    margin: 0;
    margin-bottom: 100px;
    position: fixed;
    transform: translateX(-50%);
    left: 0;
    right: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ededed',GradientType=0 );
}

.container {
    max-width: 1109px;
    margin: auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-holder {
    margin-right: 29px;
}

.logo-holder {
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

main {
    padding-top: 100px;
}

.nav-list .nav-item {
    display: inline-block;
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
}

.btn-holder .btn-list .btn-white {
    margin-right: 14px;
    padding: 11px 22px;   
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
}

.btn-list .btn {
    padding: 11px 23px;
    background: #FF9900;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-list .btn-item {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.hero-section .container {
    display: flex;
}

.child-container {
    width: 50%;
}

.child-container h1 {   
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.child-container .text-holder {
    padding-right: 116px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    margin-bottom: 60px;
}

.child-container .btn-list {
    display: flex;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

.child-container .btn-list .btn-item .btn {
    padding: 15px 41px;
}

.btn-none-border {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}

.btn-none-border::before {
    content: '';
    border: 10px solid transparent;
    border-left: 13px solid #FF9900;
    display: inline-flex;
    margin-left: 30px;
    margin-right: 8px;
    vertical-align: 25%;
}

.second-section .container .info-holder {
    display: flex;
}

.second-section .container h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    padding-left: 300px;
    padding-right: 300px;
}

.second-section .child-container .text-holder {
    padding-right: 23px;
}

h3::before {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.hero1::before {
    content: '';
    width: 51px;
    background-image: url('img/firsticon.svg');
}

.hero2::before {
    content: '';
    background-image: url('img/secondicon.svg');
}

.hero3::before {
    content: '';
    background-image: url('img/thirdicon.svg');
}

.hero4::before {
    content: '';
    background-image: url('img/fourthicon.svg');
}

.second-section .container .btn-list {
    text-align: center;
}

.second-section .container .btn-list .btn-item .btn{
    padding: 15px 33px;
}

hr {
    max-width: 1109px;
    margin: 145px auto 105px;
}

.footer .container .child-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 85px;
}

.list-holder .nav-list .nav-item {
    display: block;
}

.input-holder .btn-list .btn-item > .btn {
    padding: 8px 15px;
    font-size: 16;
}

.input-holder .btn-list .btn-item {
    padding-top: 10px;
}

.child-container .list-holder:first-of-type {
    padding-right: 90px;
}

.input-holder input {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    min-width: 325px;
    min-height: 50px;
}

